.planofundo{
  background-image: url('../assets/imgs/plano3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bemvindo{
  font-weight: bold;
  color: #16867f;
}
.nome{
  font-weight: bold;
  color: #16867f;
}